/* common shared items */
* {
    margin: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.btn-primary {
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
}

.section-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0px;
    text-align: center;
}

.spacial-text {
    color: #E55473;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 24px;
}

/* banner */
.banner {
    width: 1920px;
    height: 850px;
}

.banner-img {
    width: 635px;
    height: 800px;
    margin-top: 50px;
}

.heading {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 32px;
    width: 708px;
}
.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
    padding: 0px 240px;

}
.banner-description {
    margin-top: 32px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-right: 85px;
    width: 634px;
    margin-bottom: 24px;
}

.banner-left-side {
    padding: 0px 200px 0px 0px;

}

/* featured section */
.featured-section{
    margin-top: 178px;
}
.featured {
    display: flex;
    margin-top: 48px;
    gap: 25px;
    padding: 0px 135px;
}
.featured-flower {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    gap: 25px;
}

.featured-flower img {
    width: 310px;
    height: 428px;
    padding: 110px 78px 0px 78px;
    
}
.flower-name{
    text-align: center;
    text-decoration: underline;
    padding-top: 32px;
}

/* hot-deal section */
.hot-container {
    background: rgba(229, 84, 115, 0.05);
}

.hot-deal-container {
    display: flex;
    justify-content: space-around;
    height: 620px;
    margin: 128px 400px 100px 400px;
    align-items: center;
}

.hot-deal-left {
    text-align: center;
    margin-right: 186px;
}

.insta-img {
    display: flex;
    width: 342px;
    height: 396px;
    gap: 24px;
    margin: 48px 240px;
}

 /* video section */
 .video-container{
    display: flex;
    align-items: center;
    background-color: #948d8f;
    margin-top: 30px;
    margin-bottom: 80px;
 }
 .items-1{
    padding: 40px 40px;
 }
 .items-2, .description {
    color:whitesmoke;
    text-align:left;
    font-size: 18px;
    padding-right: 100px;
    margin-top: 24px;
    margin-bottom: 24px;
 }
 .items-2{
    padding-left: 95px;
 }
 .Prices, .title{
    color: #E55473;
 }

/* get the latest deal */
.latest-deal {
    width: 1440px;
    height: 449px;
    background-image: url('/images/Rectangle 9.png');
    margin: auto;
    margin-bottom: 128px;
    margin-top: 128px;
}

.let-input {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.let-header {
    padding: 75px;
    margin-bottom: 0px;
}

.let-input input {
    width: 48%;
    border-radius: 8px;
    background: #FFF;
    border: 0px;
    padding-left: 25px;
}

/* footer section */
.footer-heading {
    color: #E55473;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 100px;
    margin: 0;
}

.footer {
    text-align: center;
    background: #111010;
    width: 1922px;
    height: 449px;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.text-footer {
    color: #FFFFFF;
}

.copyright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}